# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
.env

# Virtual Environments
venv/
env/
.venv/
nw/

# VSCode
.vscode/

# Streamlit
.streamlit/

# Jupyter
.ipynb_checkpoints/

# OS files
Thumbs.db
.DS_Store
